<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Store</title>
</head>
<style>
    div{
        margin: 10px 0px 10px 0px;
    }
    a{
        color:blue;
        cursor: pointer;
    }
</style>
<body>
    {% load rest_framework %}
    <h4><a href="{% url 'liststorestemplate' %}">back</a></h4>
    <h1>New Store</h1>
    <form action="{% url 'createstoretemplate' %}" method="post">
        {% csrf_token %}
        {% if error %}
            <p style="color: red;">{{error}}</p>
        {% endif %}
        <div>
            <label for="store_name">Store Name:</label>
            <input type="text" name="store_name">
        </div>
        <button type="submit">create</button>
    </form>
</body>
</html>